<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.master.cs" Inherits="SiteSample.MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Sample site</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <header>
        <a href="Home.aspx"><div class="logo">fitnasia</div></a>
        <asp:Menu ID="MenuHeader" runat="server" CssClass="menuHeader" Orientation="Horizontal">
            <Items>
                <asp:MenuItem Text="JOBB" Value="JOBB"></asp:MenuItem>
                <asp:MenuItem Text="FAQ" Value="FAQ"></asp:MenuItem>
            </Items>
        </asp:Menu>

        <h1>Forma framtidens
                bokföringverktyg
        </h1>

        <div class="appendix">
            Vi på Dooer vill tillsammans med dig bygga produkter som hjälper hela bokföringsbranschen - alltså dig.
                Signa upp dig på vår betalista för att bli en av de första som får tillgång till vår nya plattform, och var med och forma
                framtidens bokföringsverktyg!
        </div>
    </header>
    <div>
        <asp:ContentPlaceHolder ID="ContentMain" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
