body {
    background-color: #F6F6F6;
    width: 100%;
    font-family: Corbel;
}

header{
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    min-width: 700px;
}

.logo{
    float: left;
    color: #D7412C;
    font-size: 30px;
    font-weight: bold;
}

.menuHeader{
    float: right;
    padding-top: 15px;
    position: absolute;
    right: 20px;
}

.menuHeader li{
    font-size: 12px;
    color: #A9A8AB;
    margin-left: 20px;
    font-weight: bold;
}

a{
    color: #B2B6C1;
}

h1,.appendix{
    width: 60%;
    text-align: center;
    margin: 20px auto;

}

h1{
    font-size: 60px;
    font-weight: bolder;
}

h2{
    margin: 70px 0 70px 0;
}

.appendix{
    color:#C7C7C7;
    font-size: 18px;
}

.wrapper{
    margin: 5px auto 20px auto;
    width: 60%;
    text-align:center;
    min-width: 700px;
}

.button, .button2{
    color: #ffffff;
    padding: 5px;
    font-weight: bold;
}

.button{
    background-color: #6BF9FB;
    font-size: 30px;
    border: outset;
}

.button2{
    background-color: #6AC0F9;
    font-size: 20px;
    width: 60%;
}

.smallText{
    font-size: 16px;
    color: #A9A8AB;
    font-weight: bold;
}

article{
    background: white;
    width: 100%;
    border: 2px solid black;
    margin: 0 auto;
    position: relative;
}

article h3{
    color: #4BC0F8;
}

.right{
    padding-left: 10px;
    text-align: left;
}

.left{

}

.biggerH2{
    font-size: 30px;
    width: 70%;
    margin: 70px auto 20px auto;
}

.form{
    background-color: #ffffff;
    width: 60%;
    margin: 20px auto;
    text-align: left;
    padding: 20px;
    min-width: 400px;
}

.form .row{
    background-color: #FBFCFE;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto 20px auto;
}

.leftCell{
    color:#C7C7C7;
}

.textBox {
    border: none;
    position: relative;
    float: right;
    width: 65%;
    min-width: 200px;
}


